@media all and (min-width: 100px) and (max-width:350px){
	
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px yellow;*/
		width:100%;
		margin-bottom:30px;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:40px;
	}
	
	#footerContent{
		display:none;
	}
	
	#titrePart01{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#titrePart02{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#emailInputEtLogoContent{
		width:100%;
	}
	
	#passwordInputEtLogoContent{
		width:100%;
	}
	
	#connexionbouttonContent{
		width:100%;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px yellow;*/
		width:25%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:70%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#userLogin{
		display:none;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:50px;
	}
	
	.moduleItem{
		margin-right:8px;
		margin-bottom:8px;
	}
        
         .dashBoardStyle{
            /*margin-right: 15px;*/
            width: 100%;
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;
            background-color: orange;*/
            top: 100px;
            height: 84%;
        }
}

@media all and (min-width: 350px) and (max-width:400px){
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px yellow;*/
		width:100%;
		margin-bottom:30px;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:40px;
	}
	
	#footerContent{
		display:none;
	}
	
	#titrePart01{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#titrePart02{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#emailInputEtLogoContent{
		width:100%;
	}
	
	#passwordInputEtLogoContent{
		width:100%;
	}
	
	#connexionbouttonContent{
		width:100%;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px orange;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:25%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:70%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#userLogin{
		display:none;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:72px;
	}
	
	.moduleItem{
		margin-right:30px;
		margin-bottom:40px;
	}
        
         .dashBoardStyle{
            /*margin-right: 15px;*/
            width: 100%;
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;
            background-color: orange;*/
            top: 100px;
            height: 84%;
        }
}

@media all and (min-width: 400px) and (max-width:500px){
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:30px;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#footerContent{
		display:none;
	}
	
	#titrePart01{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#titrePart02{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#emailInputEtLogoContent{
		width:100%;
	}
	
	#passwordInputEtLogoContent{
		width:100%;
	}
	
	#connexionbouttonContent{
		width:100%;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:46.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#userLogin{
		display:none;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:80px;
	}
        
        .dashBoardStyle{
            /*margin-right: 15px;*/
            width: 100%;
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;
            background-color: orange;*/
            top: 100px;
            height: 84%;
        }
}

@media all and (min-width: 500px) and (max-width:767px){
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
		margin-bottom:80px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	#titrePart01{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#titrePart02{
		/*border:solid 1px red;*/
		width:100%;
		display:inline-block;
		text-align:center;
		
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#emailInputEtLogoContent{
		width:100%;
	}
	
	#passwordInputEtLogoContent{
		width:100%;
	}
	
	#connexionbouttonContent{
		width:100%;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px orange;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:46.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:80px;
	}
        
        .dashBoardStyle{
            /*margin-right: 15px;*/
            width: 100%;
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;
            background-color: red;*/
            top: 100px;
            height: 84%;
        }
}

@media all and (min-width: 768px) and (max-width: 800px){
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:80px;
	}
        
        .dashBoardStyle{
            margin-right: 15px;
            width: 47%;
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;
            background-color: red;*/
            top: 100px;
            height: 84%;
        }
}

@media all and (min-width: 800px) and (max-width: 900px){
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.7%;
            margin-top: 0px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .colonneGaucheStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }

        .colonneDroitStyle{
            /*border:solid 1px red;*/
            display: block;
            width: 100%;
        }
        
        .listebarOptionsContentPart01Style{
            /*border: solid 1px yellow;*/
            width: 100%;
            display:block;
            margin-bottom: 10px;
        }

        .listebarOptionsContentPart02Style{
            width: 100%;
            display:block;
        }
        
        .listebarStyle{
            padding-bottom: 45px;
        }
        
        .listebarStyle2{
            padding-bottom: 45px;
        }

        .listeCorpContentStyle{
            height: 76%;
        }
        
        .paginationStyle{
            text-align: left;
        }
        
        .paginationStyle2{
            width: 100%;
            text-align: left;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelStyle{
            width: 88%;
        }
        
        
        
        
        
        
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:5px;
		padding-right:5px;
	}
	
	#bodyPrincipalPanelPart02Special{
		padding-left:80px;
	}
      
       .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: orange;*/
            top: 100px;
            height: 84%;
        }
 
}

@media all and (min-width: 900px) and (max-width: 1024px){
	
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.7%;
            margin-top: 36px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:100px;
		padding-right:100px;
	}
        
        .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: red;*/
            /*top: 100px;*/
            height: 84%;
            width: 100%;
        }
}

@media all and (min-width: 1024px) and (max-width: 1100px) {
	
	
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
       .enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
             height: 91%;
            margin-top: 36px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:190px;
		padding-right:190px;
	}
        
         .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: red;*/
            /*top: 100px;*/
            height: 87%;
            width: 100%;
        }
}

@media all and (min-width: 1100px) and (max-width: 1152px) { 
	
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
             height: 91%;
            margin-top: 36px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:190px;
		padding-right:190px;
	}
        
        .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: red;*/
            /*top: 100px;*/
            height: 87%;
            width: 100%;
        }
}

@media all and (min-width: 1152px) and (max-width: 1279px) {
	
	#loginPageContent{
		overflow:auto;
		text-align:center;
	}
	
	#loginPanelPart01{
		/*border:solid 1px red;*/
		width:100%;
		padding-left:0px;
	}
	
	#loginPanelPart02{
		display:none;
	}
	
	#loginPanelPart03{
		/*border:solid 1px red;*/
		width:100%;
		margin-bottom:20px;
	}
	
	#loginPanelPart01Division02{
		margin-left:0px;
	}
	
	#footerContent{
		display:none;
	}
	
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 91%;
            margin-top: 36px;
            margin-left: 0px;
            top: 0px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        #menuGauche {
            position: absolute;
            z-index: 10;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:left;
		display:inline-block;
		color:white;
		font-family:HighVoltage;
		font-weight: 400;
		line-height: 1.5;
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
		width:49.7%;
		text-align:right;
		display:inline-block;
		vertical-align:top;
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:230px;
		padding-right:230px;
	}
        
         .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: red;*/
            /*top: 100px;*/
            height: 87%;
            width: 100%;
        }
}

@media all and (min-width: 1280px) and (max-width: 1359px) {
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 93%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 83%;
        }
        
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	/*#entetePrincipalPanelPart01ElementsModule{
		display:none;
	}*/
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:300px;
		padding-right:300px;
	}
	
	#bodyPrincipalPanelPart02Special{
		/*border:solid 1px red;*/
		padding-left:45px;
	}
        
        .dashBoardStyle{
            margin-right: 15px;
            /*width: 100%;*/
        }
        
        .dashBoardContentStyle{
            /*border: solid 1px red;*/
            /*background-color: red;*/
            /*top: 100px;*/
            /*height: 87%;*/
            width: 100%;
        }
}

@media all and (min-width: 1360px) and (max-width: 1366px) {
	/***************** PANEL PRINCIPAL *********************/
	.enabledVerticalMenuStyle{
            /*border: solid 1px blue;*/
            width: 100%;
            height: 93%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 83%;
        }
        
        
        #principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:300px;
		padding-right:300px;
	}
	
	#bodyPrincipalPanelPart02Special{
		/*border:solid 1px red;*/
		padding-left:45px;
	}
}

@media all and (min-width: 1366px) and (max-width: 1400px) {
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 93%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 83%;
        }
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:300px;
		padding-right:300px;
	}
	
	#bodyPrincipalPanelPart02Special{
		/*border:solid 1px red;*/
		padding-left:45px;
	}
}

@media all and (min-width: 1400px) and (max-width: 1439px) {
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px green;*/
            width: 100%;
            height: 94.7%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:350px;
		padding-right:350px;
	}
}

@media all and (min-width: 1440px) and (max-width: 1499px) {
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px orange;*/
            width: 100%;
            height: 94.7%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 83%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px red;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:350px;
		padding-right:350px;
	}
}

@media all and (min-width: 1500px) and (max-width: 1599px) {
	/***************** PANEL PRINCIPAL *********************/
        .enabledVerticalMenuStyle{
            /*border: solid 1px yellow;*/
            width: 100%;
            height: 95.5%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 84.3%;
            height: 97.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
	#principalePanel{
		overflow-x:hidden;
		overflow-y:hidden;
	}
	
	#entetePrincipalPanelPart01{
		/*border:solid 1px yellow;*/
	}

	#entetePrincipalPanelPart02{
		/*border:solid 1px red;*/
	}
	
	#bodyPrincipalPanelPart01{
		margin-top:150px;
		margin-bottom:40px;
	}
	
	#bodyPrincipalPanelPart02{
		/*border:solid 1px red;*/
		padding-left:400px;
		padding-right:400px;
	}
}

@media all and (min-width: 1600px) and (max-width: 1679px) {
	.enabledVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 100%;
            height: 94.5%;
            margin-top: -729px;
        }
        
        .enabledCalendarVerticalMenuStyle{
            /*border: solid 1px red;*/
            width: 84.3%;
            height: 97.5%;
            margin-top: -729px;
        }
        
        .iframeRapport{
            /*border:solid 1px red;*/ 
            top:93px; 
            height:84%;
        }
        
        .editPanelContentStyle{
            /*border:solid 1px red;*/
            height: 86.9%;
        }
        
        .innerpanelStyle {
            margin-top: 0px;
        }
}

@media all and (min-width: 1680px) and (max-width: 1919px) {
    .enabledVerticalMenuStyle{
        /*border: solid 1px red;*/
        width: 100%;
        height: 94.5%;
        margin-top: -729px;
    }
    
    .enabledCalendarVerticalMenuStyle{
        /*border: solid 1px red;*/
        width: 84.3%;
        height: 97.5%;
        margin-top: -729px;
    }
    
    .iframeRapport{
        /*border:solid 1px red;*/ 
        top:93px; 
        height:84%;
    }
    
    .editPanelContentStyle{
        /*border:solid 1px red;*/
        height: 86.9%;
    }
}
	
@media all and (min-width: 1920px) {
    .enabledVerticalMenuStyle{
        /*border: solid 1px red;*/
        width: 100%;
        height: 94.5%;
        margin-top: -729px;
    }
    
    .enabledCalendarVerticalMenuStyle{
        /*border: solid 1px red;*/
        width: 84.3%;
        height: 97.5%;
        margin-top: -729px;
    }
    
    .iframeRapport{
        /*border:solid 1px red;*/ 
        top:93px;
        height:84%;
    }
    
    .editPanelContentStyle{
        /*border:solid 1px red;*/
        height: 86.9%;
    }
}

	