body{
	background-color:#ffffff;
	overflow:auto;
}

#loginPageContent{
	/*border:solid 1px red;*/
	width:100%;
	height:100%;
	position:absolute;
	margin:0px;
	padding-bottom:0px;
	background-image: url("../images/1.png");
	background-position: center center;
	background-repeat:  repeat;
	background-size: 100%;
}

#footerContent{
	/*border:solid 1px red;*/
	width:100%;
	position:absolute;
	text-align:center;
	margin-top:45%;
	font-size:85%;
	color:white;
	font-family:Roboto;
}

#loginPanel{
	/*border:solid 1px orange;*/
	width:70%;
	height:50%;
	margin:auto;
	margin-top:9%;
}

#loginPanelPart01{
	/*border:solid 1px orange;*/
	width:49.4%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	color:white;
	padding-left:80px;
}

#loginPanelPart02{
	/*border:solid 1px white;*/
	width:2px;
	height:100%;
	display:inline-block;
	vertical-align:top;
	background-color:white;
}

#loginPanelPart03{
	/*border:solid 1px orange;*/
	width:49.4%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	color:white;
	
}

#loginPanelPart01Division01{
	/*border:solid 1px orange;*/
	width:100%;
	margin-top:100px;
	
}

#titrePart01{
	/*border:solid 1px orange;*/
	font-family:Roboto;
	font-weight:30px;
	font-size:65px;
}

#titrePart02{
	/*border:solid 1px orange;*/
	font-family:Arial;
	font-weight:bold;
	font-size:65px;
}

#loginPanelPart01Division02{
	/*border:solid 1px orange;*/
	width:100%;
	font-family:Roboto;
	font-weight:90px;
	font-size:14px;
	margin-left:15px;
}

#loginPanelPart03Division01{
	/*border:solid 1px orange;*/
	width:100%;
	text-align:center;
	font-size:550%;
}

#loginPanelPart03Division02{
	/*border:solid 1px orange;*/
	width:100%;
	text-align:center;
	margin-top:50px;
}

#loginPanelPart03Division03{
	/*border:solid 1px orange;*/
	width:100%;
	text-align:center;
	margin-top:5px;
}

#loginPanelPart03Division04{
	/*border:solid 1px orange;*/
	width:100%;
	text-align:center;
	margin-top:10px;
}

#emailInputEtLogoContent{
	/*border:solid 1px red;*/
	width:60%;
	margin:auto;
	text-align:center;
	padding:7px;
	background-color:white;
	border-radius:4px;
	
}

#passwordInputEtLogoContent{
	/*border:solid 1px red;*/
	width:60%;
	margin:auto;
	text-align:center;
	padding:7px;
	background-color:white;
	border-radius:4px;
}

.logoputContent{
	/*border:solid 1px white;*/
	width:10%;
	display:inline-block;
	font-size:19px;
	color:#787878;
}

#emailInputContent{
	/*border:solid 1px red;*/
	width:85%;
	display:inline-block;
	margin:0px;
}

#passwordInputContent{
	/*border:solid 1px red;*/
	width:85%;
	display:inline-block;
	margin:0px;
}

#emailInput{
	border:solid 1px transparent;
	border-left:solid 1px #787878;
	width:100%;
	color:#787878;
	font-size:15px;
	font-family:Roboto;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
}

#passwordInput{
	border:solid 1px transparent;
	border-left:solid 1px #787878;
	width:100%;
	color:#787878;
	font-size:15px;
	font-family:Roboto;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
}

#connexionbouttonContent{
	/*border:solid 1px red;*/
	width:60%;
	display:inline-block;
	padding:8px;
	font-size:15px;
	font-family:Roboto;
	background-color:#113559;
	color:white;
	cursor:pointer;
	border-radius:4px;
}

/*************** PANEL PRINCIPAL ***************/
#principalePanel{
	/*border:solid 1px red;*/
	width:100%;
	height:100%;
	position:absolute;
	margin:0px;
	padding-bottom:0px;
        /*margin-top: -50px;*/ /*Serveur*/
	/*background-image: url("../img/3.png");*/
	background-position: center center;
	background-repeat:  repeat;
	background-size: 100%;
	background-color: white;

}

#pageModule{
	/*border:solid 1px red;*/
	position:fixed;
	width:100%;
	height:100%;
	z-index:1500;
	padding-top:35px;
}

#menuGauche{
	border-right:solid 1px #cdcdcd;
	width:250px;
	height:100%;
	background-color:#f4f4f4;
	/*box-shadow:2px 2px 2px #3c3c3c;*/
	/*overflow:auto;*/
	/*display:none;*/
        margin-right: 0px;
        margin-left:-88%;
}

#moduleContentData{
	/*border:solid 1px orange;*/
	width:81.6%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	background-color:white;
        margin-left: -4px;
}

#moduleContentDataBody{
	/*border:solid 1px orange;*/
	width:100%;
	height:95%;
}

#moduleContentDataFooter{
	/*border:solid 1px orange;*/
	border:solid 1px #cdcdcd;
	border-left:solid 1px transparent;
	width:100%;
	height:5%;
	text-align:center;
	background-color:#f4f4f4;
}

#moduleContentDataFooterDescription{
	/*border:solid 1px #f4f4f4;*/
	display:inline-block;
	font-family:Roboto;
	font-size: 92%;
	font-weight: 400;
	padding:8px;
	height:100%;
	/*background-color:red;*/
}

/*#menuGauche{
	width:250px;
	position:fixed;
	height:100%;
	z-index:1500;
	background-color:#f4f4f4;
	padding-top:35px;
	box-shadow:2px 2px 2px #3c3c3c;
	overflow:auto;
	margin-left:-88%;
}*/

#logoSocieteContent{
	/*border:solid 1px red;*/
	width:100%;
	padding:16px;
        height: 249px;
}

#appli_icon_id{
	/*border:solid 1px red;*/
	width:100%;
}

#menusContentSpecial{
	/*border:solid 1px red;*/
	width:100%;
        height: 55%;
        overflow: auto;
        
}

.menusContentSpecialStyle{
    
}

#ligneContent{
	border-top:solid 1px #e3e3e3;
	border-bottom:solid 1px #ffffff;
	background-color:#f4f4f4;
	width:100%;
	padding:8px;
}

#entetePrincipalPanel{/*serge*/
	/*border:solid 1px red;*/
	width:100%;
	height:35px;
    margin-top: 0px;
	padding-left:11px;
	position:fixed;
	z-index:2000;
	background-color:#28a745;
	/*background-color:rgba(0, 0, 0, 0.60);*/
}

#entetePrincipalPanelPart01{ /*serge*/
	/*border:solid 1px red;*/
	width:79.7%;
	height:100%;
	text-align:left;
	display:inline-block;
	color:white;
	line-height: 1.5;
	padding:0px;
}

#entetePrincipalPanelPart02{/*serge*/
	/*border:solid 1px red;*/
	width:19.7%;
	height:100%;
	text-align:right;
	display:inline-block;
	vertical-align:top;
	margin-top:7px;
}

#entetePrincipalPanelPart01LogoAndDescription{/*serge*/
	/*border:solid 1px red;*/
	width:236px;
	height:100%;
	display:inline-block;
	padding-top:2px;
        vertical-align:top;
}

#entetePrincipalPanelPart01Logo{/*serge*/
	/*border:solid 1px red;*/
	display:inline-block;
	margin-right:7px;
	cursor:pointer;
	font-size: 150%;
}

#entetePrincipalPanelPart01Description{/*serge*/
	/*border:solid 1px red;*/
	display:inline-block;
	font-family:Arial;
	font-weight:bold;
	font-size: 130%;
	cursor:pointer;
	text-align: center
}

#entetePrincipalPanelPart01ElementsModule{
    /*border: solid 1px red;*/
    max-width: 77%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

#bodyPrincipalPanel{
	/*border:solid 1px red;*/
	width:100%;
	height:95%;
	overflow:auto;
}


#bodyPrincipalPanelPart01{
	/*border:solid 1px red;*/
	width:100%;
	font-family:Roboto;
	font-size: 120%;
	text-align:center;
	color:white;
	/*margin-top:90px;
	margin-bottom:40px;*/
	background-color: white;
}

#bodyPrincipalPanelPart02{
	/*border:solid 1px red;*/
	width:100%;
	text-align:center;
	padding:20px;
	padding-left:450px;
	padding-right:450px;
	color:white;
}

#bodyPrincipalPanelPart02Special{
	/*border:solid 1px red;*/
	width:100%;
	margin:auto;
	text-align:left;
	margin-top: 10%;
}

#footerPrincipalPanel{
	/*border:solid 1px orange;*/
	width:100%;
	/*height:40px;*/
	min-height:40px;
	text-align:center;
	padding:6px;
	font-family:Roboto;
	font-size: 120%;
	font-weight: 400;
	line-height: 1.5;
	color:white;
}

#footerPrincipalPanelTitre01{
	/*border:solid 1px red;*/
	height:100%;
	margin-right:5px;
	display:inline-block;
	font-family:Arial;
	font-weight:bold;
	font-size: 100%;
	cursor:pointer;
	text-align: center
}
#anneescolaire{
	/*border:solid 1px red;*/
	height:100%;
	margin-right:5px;
	display:inline-block;
	font-family:Arial;
	font-weight:bold;
	font-size: 100%;
	cursor:pointer;
	text-align: center
}

#footerPrincipalPanelTitre02{
	/*border:solid 1px red;*/
	height:100%;
	font-family:Arial;
	font-weight:bold;
	font-size: 130%;
	cursor:pointer;
	text-align: center
}

#footerPrincipalPanelTitre03{
	/*border:solid 1px red;*/
	height:100%;
	margin-right:5px;
	display:inline-block;
	font-family:Roboto;
	font-size: 70%;
	font-weight: 400;
	line-height: 1.5;
	vertical-align:top;
}

.elementModuleMenus{
	border-top:solid 1px #e0e0e0;
	width:100%;
	font-size: 16px;
	font-weight: 500;
	background-color:#f2f2f2;
	color:#449A29;
        word-wrap : break-word ; 
}

.elementModuleMenusLogo{
	/*border:solid 1px red;*/
	margin-right:11px;
	display:inline-block;
}

.elementModuleMenusDescription{
	/*border:solid 1px red;*/
	display:inline-block;
        vertical-align: top;
        text-overflow: ellipsis;
        font-family: Roboto;
}

.elementModuleMenusEntete{
	/*border:solid 1px red;*/
	width:100%;
	padding:5px;
	padding-left:16px;
	padding-right:16px;
	cursor:pointer;
}

.elementModuleMenusCorps{
	/*border:solid 1px red;*/
	width:100%;
}

.elementModuleMenusPetit{
	/*border:solid 1px red;*/
	width:100%;
	padding:8px;
	padding-left:35px;
	padding-right:15px;
	font-size: 14px;
	font-weight: 500;
	cursor:pointer;
        word-wrap : break-word ;
}

.elementModuleMenusPetitLogo{
	/*border:solid 1px red;*/
	margin-right:11px;
	display:inline-block;
	font-size:82%;
}

.elementModuleMenusPetitDescription{
	/*border:solid 1px red;*/
	display:inline-block;
}

.elementModule{
	/*border:solid 1px red;*/
	height:100%;
	display:inline-block;
	font-family:Arial;
	font-size:60%;
	padding:9px;
	padding-left:14px;
	padding-right:14px;
	vertical-align:top;
	font-size: 12px;
	font-weight: 600;
	
}

.elementModule:hover{
	cursor:pointer;
	background-color:rgba(0, 0, 0, 0.60);
	/*border-radius:2px;*/
}

.enteteItem{
	/*border:solid 1px red;*/
	display:inline-block;
	margin-right:8px;
	color:white;
	cursor:pointer;
}

.enteteItem2{
	/*border:solid 1px red;*/
	display:inline-block;
	margin-right:5px;
	margin-left:15px;
	color:white;
	cursor:pointer;
}

.enteteItemLight{
	/*border:solid 1px red;*/
	display:inline-block;
	margin-right:6px;
	color:white;
}

.enteteItemLight2{
	/*border:solid 1px red;*/
	display:inline-block;
	margin-right:0px;
	color:white;	
	line-height:25px;
	font-family:Arial;
	font-size: 87%;
	font-weight: bold;
	line-height: 1.5;
}

.moduleItem{
    border: solid 2px white;
    width: 100px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    background-color: white;
    color: #2378b2;
    border-radius: 100px;
}

.item-app-help.first-item {
    border: 1px solid #449A29;
    box-shadow: 0 1px 5px 0 #d4d8de;
}

/*.moduleItem:hover{
	background-color:white;
	color:#2378b2;
}*/

.moduleItemLogo{
	/*border:solid 1px red;*/
	width:100%;
	font-size:250%;
}

.moduleItemDescription{
	/*border:solid 1px red;*/
	width:100%;
	font-size: 12px;
	font-weight: 500;
	font-family:Arial;
}


/*******************************/

/***************** PANELS BEKO ******************/
.enabledVerticalMenuStyle{
    /*border: solid 1px red;*/
    position: absolute;
    width: 100%;
    height: 94.5%;
    margin-left:0px ;
    margin-right:0px;
    position: absolute;
    top: 765px;
    padding:0px;
    background-color: white;
}

.enabledVerticalMenuStyle2{
    /*border: solid 1px red;*/
    position: absolute;
    width: 81.8%;
    height: 95.2%;
    margin-left:250px ;
    margin-right:0px;
    margin-top: -45.7%;
    padding:0px;
    background-color: white;
}

.desabledVerticalMenuStyle{
    position: absolute;
    width: 100%;
   height: 94.5%;
    margin:0px;
    padding:0px;
    margin-top: -45.7%;
    background-color: white;
}

.enabledCalendarVerticalMenuStyle{
    position: absolute;
    width: 82%;
    height: 94.5%;
    margin-left:250px ;
    margin-right:0px;
    margin-top: -45.7%;
    padding:0px;
    background-color: white;
}

.desabledCalendarVerticalMenuStyle{
    position: absolute;
    width: 100%;
    height: 94.5%;
    margin:0px;
    padding:0px;
    margin-top: -45.7%;
    background-color: white;
}

.globalModalStyle{
    z-index: 5000;
}

.listebarContentStyle{
     /*border: solid 2px red;*/
     width: 100%;
     background-color:white;
}

.listebarContentStyle2{
     /*border: solid 2px red;*/
     width: 100%;
     height: 100%;
     background-color:#eeeeee;
}

.listebarStyle{
     border-bottom: solid 1px #e1e0e1;
     width: 100%;
     padding: 15px;
     background-color:white;
}

.innerpanelStyle{
    /*border: solid 1px green;*/
    height: 96%;
    width: 100%;
    background-color: #eeeeee;
}

.listebarOptionsContentStyle{
     /*border: solid 1px yellow;*/
     width: 100%;
}

.listebarOptionsContentPart01Style{
    /*border: solid 1px yellow;*/
    width: 50%;
    display:inline-block;
}

.listebarOptionsContentPart02Style{
    /*border: solid 1px yellow;*/
    width: 50%;
    display:inline-block;
    vertical-align: top;
    text-align: right;
}

.listTitleStyle{
    width: 100%;
    margin-bottom: 8px;
    color: #adadad;
    font-weight: 500;
    font-size: 17px;
    font-family: Roboto;
}

.listeCorpContentStyle{
    /*border: solid 1px orange;*/
    width: 100%;
    height: 84.2%;
    overflow: auto;
}

.moduleContentDataFooterStyle{
    /*border:solid 1px orange;*/
    border:solid 1px #cdcdcd;
    border-left:solid 1px transparent;
    width:100%;
    height:38px;
    text-align:center;
    background-color:#f4f4f4;
}

.moduleContentDataFooterDescriptionStyle{
    border:solid 1px #f4f4f4;
    display:inline-block;
    font-family:Roboto;
    font-size: 92%;
    font-weight: 400;
    padding:6px;
    height:100%;
}

.rechercheStyle{
    /*border:solid 1px red;*/
    width:100%;
    margin-bottom: 8px;
}

.paginationStyle{
    /*border:solid 1px red;*/
    width:100%;
}

.paginationStyle2{
    /*border:solid 1px red;*/
 }

.importerbtnStyle{
    /*color:#adadad;*/
}

.imprimerbtnStyle{
    /*color:#adadad;*/
}

.boutonCreerStyle{
	/*border:solid 1px red;*/
	/*display:inline-block;
	padding:6px;
	padding-left:11px;
	padding-right:11px;
	color:white;
	font-weight:700;
	font-size:12px;
	font-family:Arial;
	margin-right:6px;
	cursor:pointer;*/
}

.datatableStyle{
    margin-top: 0px;
}

.datatableStyle > table > thead > tr > th {

    padding-left: 17px;
    padding-right: 5px;
    font-family: Roboto;
}

.datatableStyle > table > tbody > tr > td {

    padding-left: 17px;
    padding-right: 5px;
}

.editPanelContentStyle{
    /*border:solid 1px red;*/
    /*padding:40px;*/
    width: 100%;
    height: 84.2%;
    background-color:#eeeeee;
    overflow:auto;
}

.editPanelStyle{
    border:solid 1px #e1e0e1;
    background-color:white;
    padding:20px;
    width:70%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.innerpanelStyle2{
    height:95.94%;
    /*overflow:auto;*/
}

.listebarStyle2{
     border-bottom: solid 1px #e1e0e1;
     width: 100%;
     padding: 15px;
     background-color: white;
}

#filterActionsId{
    border:solid 1px #d9d9d9;
    -webkit-box-shadow: 0 0px 1px rgba(0,0,0,.175);
    box-shadow: 0 0px 1px rgba(0,0,0,.175);
    padding: 10px;
    font-size: 13px;
}

.workflowBarStyle{
    border-bottom: solid 1px #e1e0e1;
    width: 100%;
    /*margin-top: 8px;*/
    background-color: white;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding-right: 15px;
}

.boutonActionStyle{
    /*padding: 8px;
    padding-left: 5px;
    padding-right: 5px;*/
}

.stateWorkflow{
    display: inline-block;
    background-color:#eeeeee;
    font-size: 85%;
    padding-left: 5px;
    padding-right: 5px;
}

.currentStateWorkflow{
    display: inline-block;
   /* background-color:#d9d9d9;*/
    font-size: 85%;
    padding-left: 5px;
    padding-right: 5px;
}

.dialogHeaderStyle{
    font-family: Roboto;
}

.formHorizontalStyle{
    /*border:solid 1px red;*/
    padding: 20px;
}

.colonneGaucheStyle{
    /*border:solid 1px red;*/
    display: inline-block;
    width: 50%;
    vertical-align:top;
    padding-right:10px;
}

.colonneDroitStyle{
    /*border:solid 1px red;*/
    display: inline-block;
    width: 50%;
    vertical-align:top;
    padding-left:10px;
}

.iframeRapport{
    /*border:solid 1px red;*/
    position:absolute;
    right:0; 
    top:15%; 
    bottom:0;
    height:82%;
    width:100%;
}

.calendarStyle{
    height: 80%;
    overflow: auto;
    /*margin-top: -10px;*/
}

.tabpanelStyle{
    margin-top: 20px;
}

.dashBoardStyle{
    margin-bottom:7px;
    padding-left: 0px;
    margin-right: 20px;
    width: 48%;
    border-color:white;
    border:solid 1px white;
    display: inline-block;
    vertical-align: top;
    height: 210px;
    overflow: auto;
}

.dashBoardContentStyle{
    /*border: solid 1px red;*/
    left: 15px;
    top: 66px;
    position: absolute;
    height: 92%;
    overflow: auto;
    width: 100%;
    padding: 20px;
}

.listeOptionsConfigurations{
    /*border: solid 1px red;*/
    position: absolute;
    left: 85.5%;
}

.administrationStyle{
    /*border: solid 1px red;*/
    display: inline-block;
}

.importationPanel{
    /*border: solid 1px red;*/
    height: 83%;
    margin-top: 0px;
    width: 100%;
    overflow: auto;
}

.importationBoutonsActionsStyle{
    /*border: solid 1px red;*/
    display: inline-block;
    margin-top: 25px;
    margin-left: -270px;
}

.elementModuleActions{
    /*border: solid 1px red;*/
    background-color: white;
    position: fixed;
    color: black;
    width: 180px;
    margin-top: 8px;
    font-family: Helvetica;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 5;
    margin-left: -14px;
    box-shadow: 0px 4px 19.74px 1.26px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
}

.elementModuleTitre{
    /*border: solid 1px red;*/
}

.elementModuleTitle{
    /*border: solid 1px red;*/
    display: inline-block;
    vertical-align: top;
    width: 86%;
}

.elementModuleLogo{
    /*border: solid 1px red;*/
    display: inline-block;
    vertical-align: top;
    width: 14%;
    font-size: 72%;
    line-height: 2;
    color:white;
}

.elementModuleActionItem{
    /*border-bottom: solid 1px #e9e9e9;*/
    padding: 5px;
    padding-right: 14px;
    padding-left: 14px;
}

.elementModuleActionItem:hover{
    background-color:#e4e4e4
}
/************************************************/

@font-face{
	font-family : 'Roboto';
	src : url('font/RobotoLight.ttf');
}

@font-face{
	font-family : 'aristalight';
	src : url('font/xxx.ttf');
}

@font-face{
	font-family : 'RobotoDraftLight';
	src : url('font/RobotoDraftLight.ttf');
}

@font-face{
	font-family : 'RobotoDraftThin';
	src : url('font/RobotoDraftThin.ttf');
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.item-app-help.first-item {
    border: 1px solid #449A29;
    box-shadow: 0 1px 5px 0 #d4d8de;
}
.text-left {
    text-align: left!important;
}
.item-app-help .help-title {
    margin-top: 7px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    color: #333;
}
.text-center {
    text-align: center!important;
}
.lg-btn-primary {
    height: 56px;
    padding: 18px 10px;
    font-family: Quicksand-Bold;
    font-size: 14px;
    text-align: center;
    color: #283346;
    background-color: #449A29;
    border: 0 solid #283346;
    border-radius: 28px;
    display: inline-block;
    min-width: 100px;
    text-decoration: none!important;
    margin-block-end: 5px;
}
.container2, .container4 {
    margin: 0 auto;
    width: 95%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mg-t-5 {
    margin-top: 15px!important;
}
.app-title {
    font-family: Montserrat-Bold;
    font-size: 37px;
    text-align: center;
    line-height: 39px;
    color: #283346;
    width: 745px;
    max-width: 100%;
}
.text-left {
    text-align: left!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
element.style {
    margin-top: 20px;
}
.item-app-help.first-item {
    border: 1px solid #449A29;
    box-shadow: 0 1px 5px 0 #d4d8de;
    border-radius: 20px;
}
/*@font-face{
	font-family : 'HighVoltage';
	src : url('font/HighVoltage.ttf');
}*/